Package: com.yourcompany.you1440hook
Name: You1440Hook
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xsjqc
Author: xsjqc
Section: Tweaks
